@import './custom-properties.css';

@font-face {
  font-family: 'TitlingGothic';
  src:  url(../fonts/TitlingGothicFBWideMedium.ttf) format('truetype');
  font-weight: medium;
}

@font-face {
  font-family: 'TitlingGothic';
  src:  url(../fonts/TitlingGothicFBWideBold.ttf) format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'UniversLTStdEx';
  src: url(../fonts/UniversLTStd-BoldEx.otf) format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'UniversLTStdEx';
  src: url(../fonts/UniversLTStd-Ex.otf) format('opentype');
  font-weight: normal
}

@font-face {
  font-family: 'UniversLTStd';
  src: url(../fonts/UniversLTStd.ttf) format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'UniversLTStd';
  src: url(../fonts/UniversLTStd-Light.otf) format('opentype');
  font-weight: light;
}

html {
  font-family: var(--font-family-sans);
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--color-white);
  color: var(--color-black);
  margin: 0;
}

html,
/* body,
body > div,
body > div > div */ {
  height: 100%;
}
