.frequency {
  font-family: 'UniversLTStd', sans-serif;
  font-weight: 600;
  border: 1px solid black;
}

.frequency-item {
  font-weight: 400;
}

.frequency-item__option--selected {
    color: red;
}