.sequential-intro-1 {
  position: fixed;
  z-index: 1;
  animation: disappear 0s forwards;
  animation-delay: 5s;
}

@keyframes disappear {
  to {
    visibility: hidden;
    z-index: -1;
  }
}

/*------------------------*/

.sequential-child:nth-child(1):after {
  width: 0px;
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 2s forwards;
  animation: ellipsis steps(4, end) 2s forwards;
  animation-iteration-count: 1;
  content: "\2026";
  /* ascii code for the ellipsis character */
}

@keyframes ellipsis {
  to {
    width: 1.8em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.8em;
  }
}

/*------------------------*/

.sequential-child {
  transiiton: opacity 200ms;
}

.sequential-child:nth-child(2) {
  opacity: 0;
  animation: appear 100ms forwards;
  animation-delay: 2s;
}

@keyframes appear {
  to {
    opacity: 1;
  }
}

/*------------------------*/

.sequential-intro-2 {
  transiiton: opacity 200ms;
}

.sequential-intro-2 {
  opacity: 0;

  animation: intro-2-appear 100ms forwards;
  animation-delay: 5s;
}

@keyframes intro-2-appear {
  to {
    opacity: 1;
  }
}

.sequential-intro-2 .qintro__cta {
  opacity: 0;
  animation: appear 100ms forwards;
  animation-delay: 7s;
}

.payoff__text {
  font-family: 'UniversLTStdEx', sans-serif;
  font-weight: 500;
  font-size: 1.5em;
}

.payoff__text.caption {
  padding-left: 1em;
}

.qpayoff {
  background-color: #3A71FF;
}

.payoff__text em {
  font-style: normal;
  background: linear-gradient(rgba(255, 255, 255, 0) 60%, rgba(255, 40, 0, .6) 40%)
}

.payoff__text--bottom {
  font-size: 1.125em;

  @nest & a {
    color: white;
  }

  @nest & a:hover {
    color: #EBFF00;
  }
}

.payoff__row {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 30px 0px;

  @media (min-width: 900px) {
    flex-direction: row;
  }

  @media (min-width: 1200px) {
    width: 90%;
  }
}

.payoff__row.small {
  flex-direction: row;
  flex-wrap: wrap;
}

.payoff__row.bottom {
  flex-direction: column;
  margin: 50px 0px;
}

.payoff__percent {
  font-family: 'UniversLTStdEx', sans-serif;
  font-weight: 600;
  height: 1.25em;
}

.payoff__percent.big {
  margin-bottom: -10px;
  font-size: 8em;

  @media (min-width: 1100px) {
    font-size: 10em;
  }
}

.payoff__percent.small {
  font-size: 5em;
}

.payoff__percent-block {
  width: 90%;
  padding-bottom: 30px;

  @media (min-width: 900px) {
    width: 50%;
  }
}

.payoff__percent-block--small {
  width: 50%;
  margin-bottom: 30px;

  @media (min-width: 900px) {
    width: 33.33%;
  }
}