#setToZeroButton {
    width: 200px;
    height: 45px;
    border: 2px solid #fff;
    border-radius: 25px;
    font-family: 'TitlingGothic', sans-serif;
    font-size: 16px;
    float: right;
}
  
.animation-context {
  font-family: 'TitlingGothic', sans-serif;
  font-size: 2em;
  width: 100%;
  margin-bottom: 30px;

  @media (min-width: 900px) {
    width: 70%;
  }
}