body {
  background-color: #3A71FF;
}

.tl-edges,
.tl-wrapper {
  height: 100%;
}

.qcontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 60px 80px;
  background-color: #3A71FF;
  color: white;
  position: relative;
  overflow: hidden;
}

.qintro,
.qcontent {
  transition: opacity 200ms;
}

.qintro--hidden,
.qcontent--hidden {
  opacity: 0;
  z-index: -1;
  position: absolute;
}

.qintro--shown,
.qcontent--shown {
  width: 100%;
  opacity: 1;
  z-index: 1;
}

.qintro__description {
  font-family: 'TitlingGothic', sans-serif;
  font-size: 2.5em;
  padding-bottom: 40px;
  width: 750px;
}

.qintro__cta {
  font-family: 'TitlingGothic', sans-serif;
  font-size: 0.875em;
  padding-bottom: 40px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

/* I don't know how to fix this so I'm bandaid fixing it -Mel */
.qintro__cta--special {
  align-items: flex-end;
}

.qintro__buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.qnextprev {
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.qnextlink {
  font-family: 'UniversLTStdEx', sans-serif;
  transition: margin-left 200ms;
  font-size: 1.125em;
  width: 750px;
  flex: 1;
}

.qnextquestion {
  font-family: 'TitlingGothic', sans-serif;
  border: 2px solid white;
  border-radius: 50px;
  background-color: white;
  color: black;
  font-size: 0.875em;
  padding: 10px 40px;
  text-decoration: none;
  font-weight: 500;
  text-shadow: none;
  transition: background-color 200ms, color 200ms;
}

.qnextquestion::after {
  margin-left: 15px;
  content: "→";
}

.qnextquestion:hover {
  background-color: #3A71FF;
  color: white;
  cursor: pointer;
}

.qprevquestion {
  font-family: 'TitlingGothic', sans-serif;
  color: white;
  font-size: 0.875em;
  text-decoration: none;
  font-weight: 500;
}

.qprevquestion:hover {
  text-decoration: underline;
}
