.resources {
  padding: 60px 80px 15vh;
}

.resources__description {
  font-weight: 500;
  color: white;
  font-family: 'TitlingGothic', sans-serif;
  font-size: 2.5em;
  padding-bottom: 60px;
  width: 100%;
}

@media (min-width: 800px) {
  .resources__description {
    width: 750px;
  }
}

.resources__resource-list {
  display: flex;
  flex-direction: column;
}

.resource {
  margin-bottom: 60px;
  width: 100%;
}

@media (min-width: 800px) {
  .resource {
    width: 65%;
  }
}

.resource__context-title {
  font-family: 'TitlingGothic', sans-serif;
  font-size: 1.5em;
  color: white;
}

.resource__context {
  font-family: 'UniversLTStd', sans-serif;
  font-size: 1em;
  color: white;
  font-weight: normal;
  padding: 15px 0;
}

.resource__link {
  font-family: 'TitlingGothic', sans-serif;
  color: white;
  font-size: 1.125em;
  text-decoration: none;
  background: linear-gradient(rgba(255, 255, 255, 0) 95%, rgb(255, 255, 255) 5%)
}

.resource__link::after {
  transition: margin-left 200ms;
  margin-left: 10px;
  content: "→";
}

.resource__link:hover::after {
  margin-left: 20px;
}