.slider-container {
  width: 100%;
  margin: 50px auto;
  font-family: 'UniversLTStdEx', sans-serif;
  font-weight: 600;
}

.slider-title {
  display: inline;
}

.slider-title:after {
  content: " ";
}

.slider-labels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: .8em;
}

.slider-tooltip {
    height: .9em;
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 400px;
    background-color: white;
    color: black;
    font-family: 'UniversLTStd', sans-serif;
    font-size: 14px;
    padding: 10px;
    border-radius: 6px;
   
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .slider-object {
    width: inherit;
    margin: 30px 0;
  }

  .slider-rule {
    margin-top: 15px;
    margin-bottom: -16px;
    border: 2px solid white;
  }

  .slider-span {
    width: 22px;
    height: 22px;
    border: 3px solid rgb(152, 183, 255);
    border-radius: 50%;
    background-color: rgb(98, 145, 255);
    margin-left: 80px;
    margin-right: -80px;
  }

  .slider-circle {
    width: 22px;
    height: 22px;
    border: 3px solid white;
    border-radius: 50%;
    background-color: white;
    margin-top: -3px;
    margin-left: -3px;
  }

  .slider-circle:active {
    background-color: #EBFF00;
    border-color: #EBFF00;
  }

  #setToZeroButton {
    width: 180px;
    height: 45px;
    border-radius: 25px;
    font-family: 'TitlingGothic', sans-serif;
    font-size: 14px;
    float: right;
  }

  .hidden {
    display: none;
  }