.hphero {
  position: relative;
  background-color: #3A71FF;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  font-family: 'TitlingGothic', sans-serif;
}

.hphero__text-container {
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-shadow: 0 0 10px #0000007c;
}

.hphero__title {
  font-weight: 600;
  line-height: 1.1em;
  text-align: center;
  width: calc(100% - 40px);
  margin: 0;
  color: white;
  font-size: 5.5em;
  letter-spacing: 0.375em;
  text-transform: uppercase;
  display: inline-block;
}

.hphero__year {
  font-weight: 500;
  margin: 10px;
  color: white;
  font-size: 40px;
  letter-spacing: 0.5em;
  display: inline-block;
}

.hphero__cta {
  /* position: absolute; */
  bottom: 40px;
  right: 40px;
  border: 2px solid white;
  border-radius: 50px;
  background-color: white;
  color: black;
  font-size: 20px;
  padding: 10px 80px;
  text-decoration: none;
  font-weight: 500;
  text-shadow: none;
  transition: background-color 200ms, color 200ms;
}

.hphero__cta::after {
  margin-left: 15px;
  content: "→";
}

.hphero__cta:hover {
  background-color: #3A71FF;
  color: white;
}

.hp__block {
  display: flex;
  flex-direction: column;
}

.hp__block__lower-container {
  display: flex;
  flex-direction: row;
}


